#skills {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0; /* light gray background, adjust as needed */
  text-align: center;
}

.tech-stack h2,
.others h2 {
  font-weight: bold;
  margin-bottom: 2rem;
}

.skill-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  justify-content: space-evenly;
  transition: transform 0.3s ease , opacity 0.3s ease;
  border-radius: 10%;
}

.skill-logo:hover {
  transform: scale(1.1);
  opacity: 1;
}

.col-4, .col-md-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #ffffff;
}